<html>
	<head>
		<title>Bernoulli | Math reimagined.</title>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,400,500,700' rel='stylesheet' type='text/css'>
		<style>
		.top-bar {
			background-color:#e6ffd8;
			height:20%;
		}
		.bold {
			font-weight:500;
		}
		body {
			font-family:"Roboto Slab";
		}
		.light {
			font-weight:100;
		}
		.centered {
			text-align:center;
		}
		</style>
	<body>
		<div class="top-bar">
		&nbsp;
		</div>
		<div class="mid-bar">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h1 class="bold">About Bernoulli</h1>
				<p><b>What is Bernoulli?</b></p>
				<p>Bernoulli is a system for transforming natural speech into mathematical expressions. It gives users the opportunity to express math in the most natural medium available - the human voice.</p>
				<p><b>Why use Bernoulli?</b></p>
				<p>It is often difficult and time-consuming to write LaTeX or other forms of mathematics equations on the computer. Bernoulli is an easy, simple way to mitigate this problem by auto-generating LaTeX based on voice input.</p>
				<p><b>How was Bernoulli created?</b></p>
				<p>Bernoulli was developed in 7 hours at CodeDay Detroit Winter 2015 by several high school students. The development stack includes Python, Flask, jQuery, Google Web Speech API, and Bootstrap. The source code is available <a href="http://github.com/kained/bernoulli">here</a>. </p>
				<p></p>
				<p class="gray"><a class="btn btn-default" href="/">&lt; Home</a></p>
			</div>
			<div class="col-md-4"></div>
		</div>
	</body>
</html>