<html>
	<head>
		<title>Bernoulli | Math reimagined.</title>
		<script src="/static/js/jquery.js"></script>
		<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
		<script>
		$(function() {
			var mathOutput = "";
			MathJax.Hub.Config({
			    tex2jax: {
			      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
			      displayMath: [ ['$$', '$$']]
			    },
			  });
			$(".prompt").hide();
			$(".output").hide();

			var startProcess = function() {

				$(".output").fadeOut();
				$("#check").hide();
				$(".prompt-text").text("");
				$(".mini-prompt-text-container").hide();

				// fade out, fade in and begin speech recognition

				$(".mid-bar").fadeOut(500, function() {
					$(".top-bar").animate({"height": "33px"}, function() {
						$(".prompt").show();
						var recognition = new webkitSpeechRecognition();
						recognition.continuous = true;
						recognition.interimResults = true;
						recognition.onresult = function(event) {
							var results = event["results"];
							if(results[0]["isFinal"] == true) {
								$(".prompt-text").css("color", "#000000");
								$(".prompt-text").text(results[0][0]["transcript"]);
								$("#check").fadeIn(500, function() {
									recognition.stop();
									$.post('/parse', {'text': $(".prompt-text").text()}, function(jsonData) {
											setTimeout(function() {
											$(".prompt").fadeOut(1000, function() {
												$(".output").fadeIn(function() {
													$(".output-container").text("$$" + mathOutput + "$$");
													$(".output-editor-textarea").val(mathOutput);

													for(var i = 0; i < pairs.length; i++) {
														var li = document.createElement("li");
														li.appendChild(document.createTextNode('We detected "' + pairs[i][0] + '", but we think you meant "' + pairs[i][1] + '".'));
														$("#pairs").append(li);
													}

													MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
													$("#another").click(startProcess);
												});
											});
										}, 1500);

										data = JSON.parse(jsonData);
										if(mathOutput == "") {
											mathOutput = data["output"];
										}
										else {
											mathOutput += "\\\\ \n" + data["output"];
										}
										
										pairs = data["pairs"];
									});
								});
							}
							else {
								$(".prompt-text").css("color", "#888888");
								$(".prompt-text").text(results[0][0]["transcript"]);
							}
						}
						recognition.start();
					});
				});
			};

			$("#start").click(startProcess);
		});
		</script>
		<script src="/static/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,400,500,700' rel='stylesheet' type='text/css'>
		<style>
		.top-bar {
			background-color:#e6ffd8;
			height:20%;
		}
		.bold {
			font-weight:500;
		}
		body {
			font-family:"Roboto Slab";
		}
		.light {
			font-weight:100;
		}
		.centered {
			text-align:center;
		}
		.prompt-image {
			margin-left:auto;
			margin-right:auto;
			width:256px;
			margin-top:40px;
		}
		.prompt-text-container {
			text-align:center;
		}
		.output-container {
			margin-top:20px;
			border:2px solid #888888;
			webkit-border-radius:5px;
			height:80%;
		}
		.output-editor {
			margin-top:20px;
		}
		.output-editor textarea {
			height:40%;
			width:100%;
		}
		#another {
			margin-top:5px;
		}
		#gray {
			color:#AAAAAA;
			margin-top:20px;
		}
		.output-editor-textarea {
			font-family:monospace;
		}
		</style>
	</head>
	<body>
		<div class="top-bar">
		&nbsp;
		</div>
		<div class="mid-bar">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h1 class="bold">Bernoulli</h1>
				<p class="lead">Math reimagined. Bernoulli turns spoken math into text.</p>
				<a href="#" class="btn btn-success" id="start">Get started</a>
				<p id="gray">Created for CodeDay Detroit Winter 2015 by Amit Mizrahi, Brendan Gimby and Prathik Hosalli. &middot; <a href="/about">About</a> </p>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="prompt">
			<h2 class="light centered">Allow access to your microphone and begin speaking.</h2>
			<div class="prompt-image">
				<img src="/static/img/mic.png">
			</div>
			<div class="prompt-text-container">
				<h2 class="prompt-text"></h2> 
				<img src="/static/img/check.png" id="check">
			</div>
		</div>
		<div class="output">
			<h4 class="light centered">Statement Output</h4>
			<div class="centered mini-prompt-text-container">
				<h2 class="mini-prompt-text"></h2> 
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<p><b>Rendered Output</b></p>
				<div class="output-container">

				</div>
				<a href="#" class="btn btn-success" id="another">Try another</a>
			</div>
			<div class="col-md-4">
				<p><b>LaTeX Output</b></p>
				<div class="output-editor">
					<textarea class="output-editor-textarea">

					</textarea>
					<div class="output-editor-pairs">
						<ul id="pairs">

						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
			
		</div>
	</body>
</html>